{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  // parser: "babel-eslint",
  "extends": [
    "eslint:recommended",
    // "airbnb",
    "prettier"
    // "prettier/standard",
    // "plugin:node/recommended"
  ],
  // plugins: ["prettier", "jest"],
  "rules": {
    "strict": ["error", "never"]
    // "promise/catch-or-return": "error",
    // "prettier/prettier": [
    //   "error",
    //   {
    //     singleQuote: false,
    //     semi: true
    //   }
    // ],
    // "spaced-comment": "off",
    // "no-console": "warn",
    // "consistent-return": "off",
    // "func-names": "off",
    // "object-shorthand": "off",
    // "no-process-exit": "off",
    // "no-param-reassign": "off",
    // "no-return-await": "off",
    // "no-underscore-dangle": "off",
    // "class-methods-use-this": "off",
    // "prefer-destructuring": ["error", { object: true, array: false }],
    // "no-unused-vars": ["error", { argsIgnorePattern: "req|res|next|val" }]
  },
  "env": {
    "browser": true,
    "node": true
  },
  "overrides": [
    {
      "files": "**/*.+(ts|tsx)",
      "parser": "@typescript-eslint/parser",
      "parserOptions": { "project": "./tsconfig.json" },
      "plugins": ["@typescript-eslint/eslint-plugin"],
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "eslint-config-prettier/@typescript-eslint"
      ]
    }
  ]
}
