@import url("https://fonts.googleapis.com/css2?family=Alata&family=Exo+2:wght@400;600;700;800;900&family=IBM+Plex+Sans+Devanagari:wght@400;500;600;700&family=Lexend+Deca:wght@400;500;600;700&family=Outfit:wght@400;500;600;700&family=Reem+Kufi:wght@400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap");

/* constants */
:root {
  --color-main-bg: #764cff;
  --color-main-bg-2: #b8351e;

  --color-white: #fff;
  --color-warning: tomato;
}

/* some global reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Alata", sans-serif;
  font-family: "Exo 2", sans-serif;
  font-family: "IBM Plex Sans Devanagari", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  font-family: "Outfit", sans-serif;
  /* font-family: "Reem Kufi", sans-serif; */
  /* font-family: "Rubik", sans-serif; */

  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  /* line-height: 1.5; */
  background-color: rgb(106 72 220);
}
input,
button,
textarea,
select {
  font: inherit;
}

/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

a:not(:hover),
a:not(:focus) {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
.important-text {
  font-family: Silkscreen, "cursive";
}

h3 {
  margin: 0;
}

button {
  cursor: pointer;
}

/* loading skeletons */
/* $skeletonLoadingGradientWidth: 1200px;
$skeletonLoadingGradient: linear-gradient(to right, rgba(#8c8c8c, 0.05) 0%, rgba(#8c8c8c, 0.1) 15%, rgba(#8c8c8c, 0.05) 30%);

@keyframes loading {
  0% {
    background-position: -$skeletonLoadingGradientWidth 0;
  }
  100% {
    background-position: $skeletonLoadingGradientWidth 0;
  }
}

.loading {
  animation: loading 3s linear;
  animation-iteration-count: infinite;
  background-image: $skeletonLoadingGradient;
  background-size: $skeletonLoadingGradientWidth 100%;

  &.issue-loading {
    width: 100%;
    height: 10rem;
    border-radius: 3px;
    margin: 0.25rem 0;
  }
  
  &.sidebar-loading {
    width: 100%;
    height: 3rem;
    margin: 0.25rem 0;
  }
} */
